body{

margin:0;
font-family:Arial;
background:#0f172a;
color:white;

}


header{

text-align:center;
padding:30px;
background:#1e293b;

}



.login,
.add,
.stats,
.calendarBox{

max-width:900px;
margin:20px auto;
padding:20px;
background:#1e293b;
border-radius:20px;

}



input,
select,
button{

padding:12px;
border-radius:10px;
border:none;
margin:5px;
font-size:16px;

}


button{

background:#22c55e;
color:white;
cursor:pointer;

}



.hidden{

display:none;

}



.week,
.calendar{

display:grid;
grid-template-columns:repeat(7,1fr);
gap:8px;

}



.week div{

text-align:center;

}



.day{

background:#334155;
min-height:120px;
padding:10px;
border-radius:10px;

}



.event{

padding:8px;
margin-top:8px;
border-radius:8px;
font-size:13px;

}



.Johan{

background:#2563eb;

}


.Tilda{

background:#db2777;

}


.Julia{

background:#16a34a;

}


.Ulrika{

background:#9333ea;

}



@media(max-width:600px){

.calendar{

grid-template-columns:repeat(7,1fr);

}


.day{

min-height:80px;
font-size:12px;

}

}
